body {
    background-color: #a7dbe3;
    color: #2f4c5c;
    font-size: 21px;

    font-family: 'futura', sans-serif;
}

/**cannot use any font. Have to be fonts that are on someone else's computer **/

h1 {
    font-size: 70px;
    color: #3747b3;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
    margin-bottom: 0px;

}

h2 {
    margin-top: 0px;

}

p{
    margin-bottom: 0px;
    line-height: 25px;
    font-weight:100;
    text-align: center;
    
}

.bolder {
    font-weight:400;
    text-decoration: overline;
    text-transform:capitalize;
   }
.bold {
    font-weight: bold;
}

a {

color:black;

}


a:link{
color:thistle;
}


a:visited{
color: hotpink;
}

a:active{
color:blue;

}

a:focus{
color:brown;


}


a:hover{
    color:rgb(204, 52, 6);
    font-size: larger;
    }

    /**link vistied active hover in that order **\